.noteContainer {
	padding: 0px 5px 0px 5px;
}

.note {
	background-color: #FFFFFF;
}

.titreDeNote {
	margin: 0px;
	padding: 5px 10px 0px 10px;
	font-size:20px;
	font-weight: bold;
	font-style:italic;
}

.contenuDeNote {
	padding: 10px;
	padding-left:20px;
	padding-right:20px;
	overflow-y:hidden;
	max-height:250px;
}

.footerDeNote {
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	visibility:hidden;
}

.note:hover .footerDeNote {
	visibility: visible;
}